<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/MyCSS/home.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-icons.css")" rel="stylesheet" />

    <title>Danh sách đã đặt</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
        <div class="container">
            <div>
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none text-white fw-bold">Thư Quán sinh viên</a>
            </div>
            <div>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("DatCho", "Home")">Đặt chỗ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Vao", "LichSu")">Lịch sử</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("TaiKhoan", "Home")">Tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DoiMatKhau", "Home")">Đổi mật khẩu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Login")">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @* ...CONTAINER... *@
    <div class="container d-flex justify-content-center" style="min-height: 90vh">
        <div class="w-75 bg-white rounded shadow m-3 p-4">
            @* ...NAVBAR DATCHO... *@
            <div class="nav nav-pills nav-fill">
                <div class="nav-item">
                    <a href="@Url.Action("DatCho", "Home")" class="nav-link">Danh sách thiết bị hợp lệ</a>
                </div>
                <div class="nav-item">
                    <a href="@Url.Action("DaDatCho", "Home")" class="nav-link active">Danh sách thiết bị đã đặt</a>
                </div>
            </div>

            @* ...SEARCH... *@
            <div class="d-flex gap-5 mt-3">
                <select class="form-select w-auto" id="mySelect">
                    <option selected>Mã số</option>
                    <option>Tên</option>
                </select>
                <input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm" id="searchInput">
                <button class="btn btn-outline-secondary fst-italic w-25" id="refreshBtn">Làm mới</button>
            </div>

            @*...RESULT*@
            <table class="table table-bordered table-hover text-center mt-4">
                <thead class="table-light">
                    <tr>
                        <th>Mã thiết bị</th>
                        <th>Tên thiết bị</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="danh-sach">
                    @*...Đổ dữ liệu...*@
                </tbody>
            </table>

            <div id="pagination" class="text-center mt-3">
                @*...Phân trang...*@
            </div>

        </div>
    </div>

    <footer class="text-center">
        <div class="container-fluid">
            <div class="row bg-dark p-3">
                <div class="col-4">
                    <h4 class="text-white">Liên hệ</h4>
                    <div class="text-white">Email: cuongmanhle0905@gmail.com</div>
                    <div class="text-white">Số điện thoại: 0397969307</div>
                    <div class="text-white">Địa chỉ: Đông Thạnh, Hóc Môn, tp.HCM</div>
                </div>
                <div class="col-4">
                    <h4 class="text-white">Liên kết nhanh</h4>
                    <a href="#" class="text-white text-decoration-none">Trang chủ</a><br />
                    <a href="#" class="text-white text-decoration-none">Giới thiệu</a><br />
                    <a href="#" class="text-white text-decoration-none">Dịch vụ</a><br />
                    <a href="#" class="text-white text-decoration-none">Liên hệ</a>
                </div>
                <div class="col-4">
                    <h4 class="text-white">Theo dõi chúng tôi</h4>
                    <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-4"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-linkedin fs-4"></i></a>
                </div>
            </div>
            <div class="row bg-warning">
                <p class="text-muted text-center mt-2 mb-2">Phần mềm quản lý Thư Quán &copy; 2025</p>
            </div>
        </div>
    </footer>

    <script>
        let allItem = [];
        let itemPerPage = 7;
        let totalPage = 1;
        let currPage = 1;

        window.onload = function () {
            load()
        }

        var load = function () {
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            var col = selectedOption.text;
            var txt = document.getElementById('searchInput').value;
            fetch('/Home/GetListDaDatCho', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ col: col, txt: txt })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        allItem = data.res;
                        totalPage = Math.ceil(allItem.length / itemPerPage);
                        currPage = 1;
                        displayItem(currPage);
                        displayPagination();
                    } else {
                        alert("Lỗi: " + data.error);
                    }
                })
                .catch(error => alert("Lỗi hệ thống: " + error));
        }

        function huyDatCho(idTB) {
            fetch('/Home/HuyDatCho', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ idTB: idTB })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        alert("Hủy chỗ thành công!!!")
                        load()
                    } else {
                        alert("Lỗi: " + data.error);
                    }
                })
                .catch(error => alert("Lỗi hệ thống: " + error));
        }

        // Phan trang
        function displayItem(page) {
            let start = (page - 1) * itemPerPage;
            let end = start + itemPerPage;
            let currItem = allItem.slice(start, end);

            let html = document.getElementById('danh-sach');
            html.innerHTML = currItem.map(x =>
                `
        <tr>
            <td>${x.Id}</td>
            <td>${x.Name}</td>
            <td>
                <button class="btn btn-sm btn-danger" onclick="huyDatCho('${x.Id}')">Hủy</button>
            </td>
        </tr>
        `
            ).join('');
        }

        function displayPagination() {
            let pag = document.getElementById('pagination');
            let html = '';

            if (currPage > 1)
                html += `<button onclick="changePage(${currPage - 1})" class="btn btn-sm btn-outline-secondary me-1">
                    <i class="bi bi-arrow-left"></i>
                 </button>`;

            for (let i = 1; i <= totalPage; i++)
                html += `<button onclick="changePage(${i})" class="btn btn-sm ${currPage === i ? 'btn-primary' : 'btn-outline-secondary'} me-1">${i}</button>`;

            if (currPage < totalPage)
                html += `<button onclick="changePage(${currPage + 1})" class="btn btn-sm btn-outline-secondary">
                    <i class="bi bi-arrow-right"></i>
                 </button>`;

            pag.innerHTML = html;
        }

        function changePage(page) {
            currPage = page;
            displayItem(currPage);
            displayPagination();
        }

        // Them Event
        const selectElement = document.getElementById("mySelect");
        selectElement.addEventListener("change", function () {
            load()
        });

        const input = document.getElementById("searchInput");
        input.addEventListener("input", function () {
            load()
        });

        const button = document.getElementById("refreshBtn");
        button.addEventListener("click", function () {
            input.value = "";
            document.getElementById("mySelect").selectedIndex = 0;
            load()
        });

    </script>
</body>
</html>
