<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/MyCSS/home.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-icons.css")" rel="stylesheet" />
    <title>Đặt chỗ</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
        <div class="container">
            <div>
                <a href="@Url.Action("Index", "Home")" class="text-decoration-none text-white fw-bold">Thư Quán sinh viên</a>
            </div>
            <div>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("DatCho", "Home")">Đặt chỗ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LichSu", "Home")">Lịch sử</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("TaiKhoan", "Home")">Tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DoiMatKhau", "Home")">Đổi mật khẩu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Login")">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="main">
        <div>
            <h1 class="text-success">Chào mừng bạn đến với</h1>
            <h2 class="text-success">Thư Quán</h2>
        </div>
    </div>

    <footer class="text-center">
        <div class="container-fluid">
            <div class="row bg-dark p-3">
                <div class="col-4">
                    <h4 class="text-white">Liên hệ</h4>
                    <div class="text-white">Email: cuongmanhle0905@gmail.com</div>
                    <div class="text-white">Số điện thoại: 0397969307</div>
                    <div class="text-white">Địa chỉ: Đông Thạnh, Hóc Môn, tp.HCM</div>
                </div>
                <div class="col-4">
                    <h4 class="text-white">Liên kết nhanh</h4>
                    <a href="#" class="text-white text-decoration-none">Trang chủ</a><br />
                    <a href="#" class="text-white text-decoration-none">Giới thiệu</a><br />
                    <a href="#" class="text-white text-decoration-none">Dịch vụ</a><br />
                    <a href="#" class="text-white text-decoration-none">Liên hệ</a>
                </div>
                <div class="col-4">
                    <h4 class="text-white">Theo dõi chúng tôi</h4>
                    <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-4"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-linkedin fs-4"></i></a>
                </div>
            </div>
            <div class="row bg-warning">
                <p class="text-muted text-center mt-2 mb-2">Phần mềm quản lý Thư Quán &copy; 2025</p>
            </div>
        </div>
    </footer>
</body>
</html>
